<% content_for :title, "Listings" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Listings</h1>
  <%= link_to 'New listing', new_listing_path, class: 'btn btn-success' %>
</div>

<div class="listings-grid">
  <% @listings.each do |listing| %>
    <%= render partial: 'listing', locals: { listing: listing } %>
  <% end %>
</div>
