<%= render @listing %>

<div class="d-flex gap-2 mt-3">
  <%= link_to 'Edit this listing', edit_listing_path(@listing), class: 'btn btn-secondary' %>
  <%= link_to 'Back', listings_path, class: 'btn btn-outline-primary' %>
  <%= button_to 'Destroy this listing', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
