<p>Hi <%= @user.first_name %>,</p>

<p>This email confirms that your NU Campus Marketplace account has been deleted successfully. All listings and saved data associated with your account have been removed.</p>

<p>If this was a mistake or you change your mind, you’re always welcome to sign up again.</p>

<p>Thanks for being part of the community,<br>The NU Campus Marketplace team</p>
