<% flash.each do |key, message| %>
  <% alert_class = key == "notice" ? "bg-green-100 border-green-500 text-green-700" : "bg-red-100 border-red-500 text-red-700" %>
  <div class="<%= alert_class %> border-l-4 p-4 mb-4 flash-message" role="alert" data-flash-timeout="4000">
    <p><%= message %></p>
  </div>
<% end %>
